[user]
	name = Tomas Thor Jonsson
    useConfigOnly = true
	email =

[github]
    user = benregn

[core]
    excludesfile = ~/.gitignore_global
    editor = code --wait
    filemode = false
    trustctime = false
    logAllRefUpdates = true
    pager = diff-so-fancy | less -RFX

[commit]
	template = ~/.git-commit-msg
	cleanup = strip

[init]
    templatedir = ~/.git-templates

[alias]
    a = add
    s = status -sb
    st = status
    stl = ls-files -m -o --exclude-standard
    ci = commit
    br = branch
    m = checkout master
    dev = checkout develop
    cr = clone --recursive

    co = checkout
    cob = checkout -b
    # cobi = !BRANCH=`jira mine --template git-branch | fzf` && git checkout develop && git pull && git checkout -b ${BRANCH}
    cobi = !BRANCH=`gh issue list | fzf` && git checkout master && git pull && git checkout -b ${BRANCH}
    coi = !BRANCH=`git recent-simple | fzf` && git checkout ${BRANCH}

    fpush = push --force-with-lease

    d = diff
    ds = diff --staged
    dw = diff --word-diff
    dws = diff --word-diff --staged
    dfiles = diff --name-status master

    recent-simple = !git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | head -n 20
    undo = reset --soft HEAD^
    ag = !sh -c 'git ls-files -m -o --exclude-standard | grep $1 | xargs git add --verbose' -
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --max-count=7
    ll = log --pretty=oneline --graph --abbrev-commit
    lm = log --pretty=format:'* %s (%h)'
    lg = log -p


    g = grep --break --heading --line-number
    amend = commit --amend --reuse-message=HEAD
    contrib = shortlog --summary --numbered

    email-guess = !. ~/.git-alias-email-guess.sh
    alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[credential]
    helper = osxkeychain

[grep]
    lineNumber = true

[help]
    autocorrect = 1

[difftool]
    prompt = false

[mergetool]
    prompt = false

[push]
    default = current

[fetch]
  prune = true

[diff]
    renames = copies
    tool = Kaleidoscope
[merge]
  tool = code
[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[pull]
    rebase = true
[filter "media"]
    clean = git media clean %f
    smudge = git media smudge %f
    required = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true
	process = git-lfs filter-process
[rebase]
    autosquash = true
    autostash = true
	updateRefs = true
[status]
    showUntrackedFiles = all
[stash]
    showPatch = true
[rerere]
	enabled = true

[gc]
    # default 90 days
    reflogExpire = 200
    # default 30 days
    reflogExpireUnreachable = 90
